* {
  box-sizing: border-box;
}

html {
  background-attachment: fixed;
  color: #9cdcf5;
  text-align: center;
}

body {
  color: #000000;
  font: 300 18px/1.6 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0;
}

/* Gradient text only on Webkit */
.warning {
  background: -webkit-linear-gradient(45deg, #df94f1 10%, #463042 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000000;
  font-weight: 400;
  margin: 0 auto 0em;
  max-width: 10em;
}

.calculator {
  font-size: 20px;
  margin: 0 auto;
  width: 6em;
}
.calculator::before,
.calculator::after {
  content: ' ';
  display: table;
}
.calculator::after {
  clear: both;
}

/* Calculator after dividing by zero */
/*.broken {
  -webkit-animation: broken 2s;
          animation: broken 2s;
  -webkit-transform: translate3d(0, -2000px, 0);
          transform: translate3d(0, -2000px, 0);
  opacity: 0;
}*/

.viewer {
  color: #c97874;
  float: left;
  line-height: 3em;
  text-align: right;
  text-overflow: clip;
  overflow: auto;
  width: 8em;
  height: 3em;
}

button {
  border: 0;
  background: rgba(42, 50, 113, 0.28);
  color: #000000;
  cursor: pointer;
  float: left;
  font: inherit;
  font-size: large;
  margin: 0em;
  width: 2em;
  height: 2em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
button:hover {
  background: #6cacc5;
}
button:focus {
  outline: 0;
  /* The value fade-ins that appear */
}
button:focus::after {
  -webkit-animation: zoom 1s;
  animation: zoom 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  content: attr(data-num);
  cursor: default;
  font-size: 100px;
  position: absolute;
  top: 1.5em;
  left: 50%;
  text-align: center;
  margin-left: -24px;
  opacity: 0;
  width: 48px;
}

/* Same as above, modified for operators */
.ops:focus::after {
  content: attr(data-ops);
  margin-left: -210px;
  width: 420px;
}

/* Same as above, modified for result */
.equals:focus::after {
  content: attr(data-result);
  margin-left: -300px;
  width: 600px;
}
